
<div class="w3-container">
  <div style="text-align:center;"><pre class="tab"><%= link_to t('en'), "/en/admins" %>    <%= link_to t('de'), "/de/admins" %><pre></div>
  <h1><%= t('modmin.hello_admin') %></h1>
  <div><%= link_to "All Reports", moderators_path %></div>
  <h1><%= t('modmin.all_users') %></h1>
</div>
<% @users.each do |user| %>
<div class="w3-cell-row">
  <div class="w3-cell w3-container">
    <h3><%= t('modmin.user_id') %><%= user.id %></h3>
    <p>
      <div><%= t('modmin.username') %><%= user.username %></div> 
      <div><%= t('modmin.user_email') %><%= user.email %></div>
      <div><%= t('modmin.user_role') %><%= user.role %></div>
      <div><%= t('modmin.user_blocked') %> <%= user.blocked %></div>
      <div><%= link_to t('modmin.role_to_user'), role_to_user_admin_path(user), method: :patch %></div>
      <div><%= link_to t('modmin.role_to_moderator'), role_to_moderator_admin_path(user), method: :patch %></div>
      <div><%= link_to t('modmin.role_to_admin'), role_to_admin_admin_path(user), method: :patch %></div>
      <div><%= link_to t('modmin.change_user_status'), change_user_status_moderator_path(user), method: :patch %></div>
    </p>
  </div>
</div>
<% end %>