<!--Fehlermeldung-->
<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>



<h1>Memes</h1>
<ul>
	<% Meme.all.each do |meme| %>
			<li>
				<p><%= image_tag meme.image %></p>
				<%= link_to "Comment Meme", meme_path(meme) %>
				<h2>Comments</h2>
				<%= render meme.comments %>
			</li>
	<% end %>
</ul>
<%= link_to "New Meme", new_meme_path %>