<!--.variant(resize_to_limit: [200,200])-->
<p><%= image_tag Meme.find(params[:id]).image %></p>

<p><%= Meme.find(params[:id]).lang %></p>

<p>
<%= link_to do_like_likes_path, class: "btn btn-default", remote: true do %>
    <i class="bi bi-heart-fill"></i>
<% end %>
<%= Meme.find(params[:id]).likes.count%>
</p>

<p>
<%= Like.all%>
</p>

<h2>Comments</h2>
<%= render Meme.find(params[:id]).comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>