<!--.variant(resize_to_limit: [200,200])-->

<body id='memes-body'>
<p><%= image_tag @meme.image %></p>

<p><%= @meme.lang %></p>


<!--polymorphic_path([@meme, @like])-->
<p> 
<%= link_to polymorphic_path([@meme, :likes]), method: :post, class: "btn btn-default", remote: true do %>
    <i class="bi bi-heart-fill"></i>
<% end %>
<%= Meme.find(@meme.id).likes.count%>
</p>

<p>
<%= @likes%>
</p>

<h2>Comments</h2>
<%= render @meme.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
</body>