<!--.variant(resize_to_limit: [200,200])    <%=@meme.id.to_s%>   -->

<p><%= image_tag @meme.image %></p>

<p><%= @meme.lang %></p>

<!--polymorphic_path([@meme, @like])-->
<p id='like-count<%= @meme.id %>'> 
 <%= @meme.likes.count%>
<%= link_to polymorphic_path([@meme, :likes]), method: :post, remote: true do %>
    <i class="bi bi-heart-fill"></i>
<% end %>
</p>

<h2>Comments</h2>
<%= render @meme.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
