= javascript_pack_tag 'index.js'

-# Navbar
- if user_signed_in?
  = render 'navbar-logged-in'
- else
  = render 'navbar-not-logged-in'

-# Main part
#main-part-memes.container-md.mt-6
  -# Title and filters
  = render 'main-part-title-filters'

  -# Memes
  -##row-memes-main.row.gy-4{"data-masonry" => "{\"percentPosition\": true }"}
  #row-memes-main.row.gy-4
    -# = render 'main-part-memes'
    - @memes.each do |meme, index|
      .col-md-4
        .row.bg-main-mem
          .col-12.d-flex.align-items-center
            %i.bi.bi-person-circle.fs-2.me-2{style: "color: #808080"}
            %a{href: "#"}
              %span
                = meme.user.username
          .col-12
            = image_tag meme.image, class: 'w-100'
          .col-8.d-flex.align-items-center.tags
            -#%span.me-2
            -#  %a{href: "#"} #max
            -#%span.me-2
            -#  %a{href: "#"} #3
            -#%span.me-2
            -#  %a{href: "#"} #tags
          .col-4.d-flex.justify-content-end.align-items-center.mt-1
            %span.me-1{:id => "like-count#{meme.id}"}
              = meme.likes.count
            = link_to polymorphic_path([meme, :likes]), method: :post, remote: true do
              %i.bi.bi-heart.fs-3
            %span.ms-2.me-1
              = meme.comments.count
            %i.bi.bi-chat-left-dots.fs-3

-# Pagination
= render 'pagination'

-# - if current_user
-#  %p 123
-# - else
-#  %p 456

-# Footer
= render 'footer'

-# Modal windows
= render 'modal-sign-in'
= render 'modal-sign-up'
= render 'modal-reset-password'
= render 'modal-user-edit'
= render 'modal-add-meme'