<h1> Hello Moderator </h1>

 <div class="w3-container">
  <div><%= link_to "All Memes", memes_path %></div>
  <h1>Reports</h1>
</div>
<% @reports.each do |report| %>
<div class="w3-cell-row">
  <div class="w3-cell w3-container">
      <h3>Report ID: <%= report.id %></h3>
      <p>
      <div>Report Creator: ID: <%= report.user.id %> Email: <%= report.user.email %></div>
      
      <% if report.reportable.is_a? Meme %>
        <div>Reportable ID: <%= link_to report.reportable_id, get_object_by_rep(report.reportable) %></div>
        <div>Reportable Type: <%= report.reportable_type %></div>
        <div><%= image_tag get_object_by_rep(report.reportable).image, style: "width: 500px; height: 400px" %>
        <div><%= link_to 'Destroy Meme', meme_path(id: report.reportable.id), method: :delete, data: { confirm: "Are you sure?" } %>
      <% elsif report.reportable.is_a? Comment %></div>
        <div>Reportable ID: <%= report.reportable_id %></div>
        <div>Reportable Type: <%= report.reportable_type %></div>
        <b><div>Comment Body: <%= get_object_by_rep(report.reportable).body %></div></b>
        <div><%= link_to 'Destroy Comment', meme_comments_path(get_object_by_rep(report.reportable).meme, get_object_by_rep(report.reportable)), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>

      <div>Reportable Type: <%= report.reportable_type %></div>
      <div>Reason: <%= report.reason %></div>
      <div>Open: <%= report.open %></div>
      <div>Meme/Comment Owner: ID: <%= get_user_by_rep(report.reportable).id %> Email: <%= get_user_by_rep(report.reportable).email %></div>

      <div>Meme/Comment Owner blocked: <%= get_user_by_rep(report.reportable).blocked %></div>
      <div><%= link_to "Change Status Report", change_status_report_path(report), method: :patch %></div>
      <div><%= link_to "Delete Report", report_path(report), method: :delete, data: { confirm: "Are you sure?" } %></div>
      <div><%= link_to "Change Block Status User(Owner)", change_user_status_moderator_path(get_user_by_rep(report.reportable)), method: :patch %></div>
      </div>   
    </p>
  </div>
</div>
<% end %>